
* {
    margin: 0;
    padding: 0;
    outline: 0;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size:18px;
  }
  
  li {
    list-style: none;
    font-size:18px;
  }
  
  img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  
  .header-menu{
    display: flex;
    position: fixed; 
    width: 100%;
    padding: 4px; 
    padding-bottom: 16px; 
    padding-top: 16px;
    height: 30px;
    background-color: #271881;
    font-size:18px;
  }
  
  .header-menu nav {
    display: flex; 
    justify-content: flex-end;
    width: 100%; 
    font-size:18px;
  }
  
  .lista-menu{
    display: flex;
    justify-content: space-evenly; 
    width: 50%; 
    align-items: center; 
    font-size:18px;
  }
  
  
  .lista-menu li>a {
    color: #6fd0e9; 
    font-size:18px;
    text-decoration: inherit; 
  }


  
  .principal{
    display: flex;
    background-color:#dcd9ee;
    font-size:18px;
  }
  

  .container {
    margin-right: auto; 
    margin-left: auto;
    margin-top: 75px; 
    max-width: 800px; 
    padding-right: 10px; 
    padding-left: 10px; 
    width: 100%; 
    font-size:18px;
    
  }
  
  .subcontainer-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:18px;
  
  }
  
  .nome-completo {
    font-size: 30px;
    color: #271881;
    font-weight: 700; 
    height: 45px;
    text-align: center;
  }
  
  .profissao{
    color: #2d0af7;
    height: 60PX;
    text-align: center;
    font-size:18px;

  }
  
  .texto-sobre {
    font-size: 18px;
    line-height: 32px; 
    text-align: justify;
    margin: top;
    
  }
  
  .article-lista{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: justify;
    font-size:18px;
  
  }
  
  .topico-principal {
    font-size: 18px;
    color: #271881;
    margin-top: 15px;
    
  }
  
  .lista-item{
    font-size:18px;
    
  }
  
  .lista-item ul li {
    margin-bottom: 32px;
    font-size:18px;
    
  }
  
  .lista-titulo{
   margin-bottom: 5px; 
   font-size: 18px;
   color: #2d0af7;
   font-weight: 700;
   
  }
  
.lista-local{
    font-size: 18px;
    color:#6fd0e9;
    margin-top: 15px;
    
  }
  
.lista-descricao {
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px; 
    color: #0c0b0b;
    font-weight: 100;
    margin-top: 15px;
    
  }
  
  
.rodape{
    background-color: #271881;
    height: 150px;
    display: flex;
    align-items: center;
    border-radius: 1px;
    padding-bottom: 20px;

  }
.links{
  text-decoration: none;
  color: #6fd0e9;
}
.lista-rodape li{
    color:  #6fd0e9;
    font-weight: 500px;
    font-size: 18px;
    margin-bottom: 20px;
    align-items: center;
}
  
.estilo-icone{
   font-size: 20px;
   margin-right: 10px;
   color: #6fd0e9;
   
}